* {
  font-family: Arial, Helvetica, sans-serif;
}
/* Header */
.site-header {
  /* background-color: #f8f9fa;  */
  padding: 16px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-hd {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.menu ul li a {
  text-decoration: none;
  color: #ffff;
  font-weight: 500;
  font-size: 20px;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: red;
}

.right-hd {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right-hd button {
  background: none;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.right-hd button:hover {
  font-size: 20px;
}

/* Hero */
.hero {
  height: 100vh;
  background-image: url("./images/hero-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 120px;
  padding-left: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.hero h1 {
  font-size: 40px; /* Cỡ chữ phần đầu */
  line-height: 1.2;
  margin-bottom: 16px;
}

.hero .span {
  font-weight: 400;
  font-size: 40px;
  display: block;
}

.hero .main-title {
  font-weight: 700;
  font-size: 70px; /* Cho to hơn rõ rệt */
  display: block;
  margin-top: 4px;
}

.btn {
  width: 130px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: orangered;
}
